<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>权限列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">ID</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input authorityId" lay-verify="required" placeholder="请输入权限ID">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">姓名</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input authorityName" lay-verify="required" placeholder="请输入姓名">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">所属团队</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input authorityGroup" lay-verify="required" placeholder="请输入所属团队">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">职位</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input authorityTitle" lay-verify="required" placeholder="请输入职位">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">权限级别</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input authorityLevel" lay-verify="required" placeholder="请输入权限级别">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addAuthority">立即添加</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../../static/js/authorityAdd.js"></script>
</body>
</html>